# deps
node_modules/

# env
.env
.env.local
.env.production
.env.*.local

# vercel
.vercel/

# logs
*.log
npm-debug.log*

# build artifacts
dist/
.cache/

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/launch.json
.idea/

node_modules/
dist/
.env.local
.env
.vercel/
*.tsbuildinfo